


/* ----------------------------- */



/* body {
    
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(bg.jpg);
  
  height: auto;
  overflow-y: auto;
  font-family: "ubuntu",sans-serif;
  
 } */


 .forh:hover{
  background-color: gold;
  color: black;
}
.forh{
  margin-right: 20px;
  font-size: 20px;
}
.color-nav:hover{
  color: black;
}


.content{
  color: black;
  
  
}

.container{
  text-align: left;
  
  color: rgb(240, 233, 233);
  
}


.cont1 h1:hover{
font-size: 85px;
padding-left: 40px;


}
.cont2 h1:hover{
font-size: 55px;
padding-left: 30px;


}

.form{
  background-color: #212529;
  border-radius: 15px;
}




.footer i{
    
    margin-left: 70px;
}

.container-fluid{
  align-items: center;
  border-left: solid 5px #ffcc00;
  color: #fff;
  
} 


.btn .btn-warning{
  border-radius: 15px;
  
}

.btn .btn-warning:hover{
  background-color: transparent;
  color: azure;
}

/* 
th:nth-child(1){
  position:absolute ;
  z-index: 1;
  background: inherit;
  box-shadow: 5px 0 3px -2px #ccc;
  background-position-x: fixed;
}

td:nth-child(1){
  position:absolute ;
  z-index: 1;
  background: inherit;
  box-shadow: 5px 0 3px -2px #ccc;
  background-position-x: fixed;
} */


.card h1 {
  color: var(--bs-white);
}
.card h3 {
  color: var(--bs-white);
}

.bgimage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(bg.jpg);
  height: 100%;
    position: fixed;
    left: 0;
    width: 100%;
    

}

/* ------------------------------login */
.bb {
  height: 100%;
    position: fixed;
    left: 0;
    width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: url('login.gif');
  background-size: contain;
  
  
}

.cardd{
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.box {
  right: 0;
  width: 700px;
  height: 100%;
  padding: 200px;
  position: absolute;
 
  background: #191919;
  
  text-align: center;
  transition: 0.25s;
  
  
  
}

.box input{

  border: 0px;
  background-color: transparent;
  display: block;
  margin: 40px auto;
  text-align: center;
  border: 1px solid #ffcc00;
  
  padding: 10px 10px;
  width: 350px;
  outline: none;
  color: white;
  
  transition: 0.25s
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500

}

.box input[type="text"]:focus,
.box input[type="email"]:focus,
.box input[type="password"]:focus {
  
  
  border: 1px solid transparent;
  background-color: transparent;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btm {
  border: 1px solid #fff;
  background-color: transparent;
  display: block;
  
  text-align: center;
 
  padding: 14px 40px;
  outline: none;
  color: #fff;
  border-radius: 14px;
  transition: 0.25s;
  cursor: pointer
}

.btm:hover {
  background: #fff;
  color:#191919
}

.forgot {
  text-decoration: underline;
  
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0
}

ul.social-network li {
  display: inline;
  margin: 0 5px
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff
}

.social-network a.icoGoogle:hover {
  background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
  color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px
}

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
  transform: rotate(360deg);
  transition: all 0.2s
}

.social-circle i {
  color: #fff;
  transition: all 0.8s;
  transition: all 0.8s
}
.ofcard{
  height: 100px;
}
